<main>
   

  <div class="card large info--card" style="height: 900px;">
    <h2 class="name--surname ">Name Surname</h2>
    <h4 class="info--head  rensponsive" >informatin</h4>
  <div class="info--text">
   <img src="https://cdn.icon-icons.com/icons2/1154/PNG/512/1486564400-account_81513.png" alt="user" width="200px" height="200px"  style="margin-left: 10px; margin-right:10px;">
   <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui non repellat, voluptatum ullam autem unde ea quos delectus explicabo facilis itaque velit quis porro, exercitationem culpa pariatur illum soluta saepe? Quidem omnis amet earum sed. Aut quasi molestiae officiis temporibus culpa iste modi magni dolore vitae doloremque eligendi facilis velit provident tenetur non perspiciatis alias, ex repudiandae inventore optio. Veniam illo alias consequatur facere incidunt repellendus, blanditiis asperiores. Corrupti placeat laboriosam voluptatem dolore, reiciendis distinctio maxime blanditiis quam incidunt expedita similique odio enim suscipit consequuntur beatae accusantium tempore nihil. Nobis aliquid, laboriosam odit deleniti sed perspiciatis libero ipsum deserunt omnis, nihil in expedita necessitatibus quibusdam eum praesentium suscipit ducimus a placeat reiciendis architecto unde sunt. Aspernatur mollitia amet recusandae at alias non ducimus enim nostrum impedit. Maxime recusandae nostrum accusamus. Perferendis totam blanditiis amet, officia nulla et harum aliquam, mollitia tenetur asperiores ducimus possimus? Nesciunt tempore perferendis nemo at voluptatum beatae. Quos ipsam blanditiis ratione corrupti saepe quod dicta iusto tenetur ullam incidunt corporis, sint, dolores animi aperiam. Blanditiis, itaque. Expedita similique officiis, eligendi commodi eveniet, exercitationem, nulla at atque amet quae soluta. Sunt laborum qui, porro repellendus consequatur blanditiis tempora unde, eligendi rerum placeat, sapiente labore quis veritatis! Dignissimos quibusdam ut cupiditate nemo ipsum voluptatum repudiandae delectus excepturi, obcaecati eos animi possimus odit, suscipit quia. Nisi labore eveniet excepturi nihil, dolore eos neque provident sequi! Ad, quisquam atque. Nam aliquam accusantium vitae quo ad? Debitis odio sapiente, recusandae distinctio excepturi corporis vitae ipsam. Alias fugiat, tempora earum molestiae architecto soluta in. Modi sapiente eveniet corrupti laudantium, delectus ea et beatae ullam, quasi, iusto alias. Cupiditate tenetur quam non modi ea facilis, pariatur enim! Quae, quos fuga atque perferendis quam amet cupiditate eius, provident facere corporis consectetur minima nisi in aliquam delectus veniam itaque accusamus, cumque minus facilis nihil sint!</p>
</div>
  </div>

 
          
</main>