
  <nav class="blue">
    <div class="nav-wrapper">
      {{!-- <a href="#!" class="brand-logo">Portfolio</a> --}}
      <img src="https://cdn.icon-icons.com/icons2/1103/PNG/512/portfolio_78923.png" alt="LOGO" class="brand-logo" style="width: 60px; margin-left:20px;">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">portfolio</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Information</a></li>
        <li><a href="/portfolio">portfolio</a></li>
       
         <li><a href="https://www.donationalerts.com/widget/goal/6536390?token=uCZcPmMKZeLpmjjI79jb"><a class="waves-effect waves-light btn">DONATE</a></a></li>
      </ul>
    </div>
  </nav>

